---
const posts = await Astro.glob('../pages/blog/posts/*.md');

const sortedPosts = posts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());

import BlogCard from "./BlogCard.astro";
---

<section class="py-4" id="blog-section">
    <div class="w-11/12 mx-auto">
        <h2 class="text-4xl font-semibold mb-7">Blog</h2>

        <div class="flex flex-col gap-y-8 md:grid md:grid-cols-2 gap-x-8">
            {
                sortedPosts.slice(0, 4).map(post => (
                     <BlogCard blogTitle={post.frontmatter.title} blogDate={post.frontmatter.date} blogThumbnail={post.frontmatter.imageThumbnail} blogLink={post.url} blogGithub={posts[0].frontmatter.gitLink} />
                ))
            }
        </div>
    </div>
</section>

<style lang="scss">
    .project-card {
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    }
</style>