---
const {blogTitle, blogDate, blogThumbnail, blogLink, blogGitHub} = Astro.props;
---

<div class="project-card bg-gray-100 rounded-md p-6">
    <a href=""><h3 class="text-2xl font-medium">{blogTitle}</h3></a>
    <p class="mb-5">{blogDate}</p>
    <a href="#"><img class="rounded-lg mb-5" src={blogThumbnail} alt="Garemotion Website"></a>


    <div class="flex justify-between">
        <a class="text-lg font-medium" href={blogLink}>Read more &rightarrow;</a>
        <a href="#"><img src={blogGitHub} alt="GitHub Icon"></a>
    </div>
</div>